<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form action="../Controller/C_Account.php" method="POST">
        <table>
            <tr>
                <td>User</td>
                <td><input type="text" name="username"></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" name="password"></td>
            </tr>
            <tr>
                <td><button type="submit" name="login" >Login</button></td>
                <td><button type="button" name="cancel">Cancel</button></td>
            </tr>
        </table>
    </form>
</body>
</html>